/* .goku {
  background-image: url('/assets/Encontre-se.png');
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: 50% 50%;
} */
section > header  {
  min-height: 23vh;
}
.txtshadow {
  text-shadow: 2px 1px 1px black
}