@charset "utf-8";
/* margem para o logo  no menu */
.hm{
  margin-bottom: -0.5rem!important;

}
/* texto do header da section */
.txth{
  top: -5%;
  left: 2%;
}
.txtstyle{
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* tamanho da font paragrafo */
.szf {
  font-size: 4.5vw;
}
/* tamanho da font titulos */
.szft {
  font-size: 6.5vw;
}
/* posicionamento dos textos do article */

.posicaot1 {
  position: absolute;
  top: 19%;
  left: 10%;
}
.titlepos3{
  position:absolute;
  top: 116px;
  left: 163px;
}
.btnAprender{
  position: absolute;
  top: 140px;
  left: 238px;
}

@media screen and (min-width: 576px)  {
  /* .szft {
    font-size: 6.5vw;
  } */
  .szf {
    font-size: 3.5vw;
  }
  .posicaot1 {
    position: absolute;
    top: 33%;
    left: 25%;
  }
  .titlepos3{
    top: 29%;
    left: 34%;
  }
  .btnAprender{
    position: absolute;
    top: 18%;
    left: 58%;
  }
}

@media screen and (min-width: 768px) {
  .szf {
    font-size: 3.5vw;
  }
/* article */
  .posicaot1 {
    position: absolute;
    top: 37%;
    left: 24%;
  }
  .titlepos3{
    top: 33%;
    left: 34%;
  }
  .btnAprender{
    position: absolute;
    top: 25%;
    left: 58%;
  }
}

@media screen and (min-width: 1024px){
  /* tamanho da font de todos os titulos que usam a classe */
  .szft {
    font-size: 5.5vw;
  }
  .szf {
    font-size: 3.5vw;
  }
/* posição dos elementos do article */
  .posicaot1 {
    position: absolute;
    top: 43%;
    left: 30%;
  }
  .titlepos3{
    top: 37%;
    left: 34%;
  }
  .btnAprender{
    position: absolute;
    top: 31%;
    left: 62%;
  }
}

@media screen and (min-width: 1224px){
/* tamanho da font de todos os titulos que usam a classe */
    .szft {
      font-size: 6.5vw;
    }
    .szf {
      font-size: 3.5vw;
    }
/* posição dos elementos do article */
  .posicaot1 {
    position: absolute;
    top: 41%;
    left: 21%;
  }
}


